<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New User</title>
  <style>
    .error {color: red;}
  </style>
</head>
<body>
<h2>Создание нового пользователя</h2>

<form th:method="POST" th:action="@{/admin}" th:object="${user}">

  <!-- Name -->
  <label for="name">Имя:</label>
  <input type="text" th:field="*{name}" id="name" required>
  <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></div>
  <br>

  <!-- Surname -->
  <label for="surname">Фамилия:</label>
  <input type="text" th:field="*{surname}" id="surname" required>
  <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="error"></div>
  <br>

  <!-- Age -->
  <label for="age">Возраст:</label>
  <input type="number" th:field="*{age}" id="age" min="1" required>
  <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="error"></div>
  <br>

  <!-- Username -->
  <label for="username">Логин:</label>
  <input type="text" th:field="*{username}" id="username" required>
  <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error"></div>
  <div th:if="${param.error != null}" class="error">Логин уже занят!</div>
  <br>

  <!-- Password -->
  <label for="password">Пароль:</label>
  <input type="password" th:field="*{password}" id="password" minlength="3" required>
  <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></div>
  <br>

  <!-- Roles -->
  <div th:each="role : ${allRoles}">
    <label>
      <input type="checkbox"
             name="roles"
             th:value="${role.id}"
             th:text="${role.name}">
    </label><br>
  </div>

  <button type="submit">Создать</button>
</form>

<a th:href="@{/admin}">Назад к списку</a>
</body>
</html>