<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Обновление пользователя</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/update}" th:object="${user}">
    <input type="hidden" th:field="*{id}"/>

    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>
    <br/>

    <label for="surname">Enter surname: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Error</div>
    <br/>

    <label for="age">Enter age: </label>
    <input type="number" th:field="*{age}" id="age"/>
    <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Error</div>
    <br/>

    <label for="username">Enter username: </label>
    <input id="username" th:field="*{username}" th:value="*{getUsername()}" type="text"/>
    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</div>
    <br/>

    <label for="password">Enter new password:</label>
    <input type="password" th:field="*{password}" id="password" value="" placeholder="Введите новый пароль"/>
    <br/>

    <input type="submit" value="Сохранить"/>
</form>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти"/>
</form>

</form>

</body>
</html>